
.text-card{
    text-decoration: none;
    color: black;
  
    
}
.container .row a{
    display: inline;
}



.card{
    box-shadow: 1px 1px 2px 2px rgb(207, 206, 207);
    width: 30%;
    margin: 2%;
}
.FOOT{
    margin-top: 10px;
    background-color: aquamarine;
    height: 70px;
}

.col-9{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}

button[type="submit"]{
    border-radius: 50px;
}

input[type="search"]{
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    border: .5px solid black;
}

