body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar{
    max-width: 100%;
    background-color: rgb(1, 27, 57);
    box-shadow: 1px 1px 10px black;
    
}
.nav-bar nav{
    padding: 10px;
    text-align: center;
    
    
}
.nav-bar nav a{
    text-decoration: none;
    margin: 10px;
    color: azure;

}
.nav-bar nav :hover{
    padding: 10px;
    background-color: white;
    color: black;
 }

 .nav-bar nav a :active{
    padding: 10px;
    background-color: white;
    color: black;
 }